<div class=" references">
  <h3 class="display-4">Referencias</h3>
  <ul>
      <li>"Qué es DevOps y qué debes saber para convertirte en ello" - RRHH Digital
        Enlace: <a href="https://www.rrhhdigital.com/secciones/tecnologia-e-innovacion/136859/Que-es-DevOps-y-que-debes-saber-para-convertirte-en-ello/">https://www.rrhhdigital.com/secciones/tecnologia-e-innovacion/136859/Que-es-DevOps-y-que-debes-saber-para-convertirte-en-ello/</a></li>
      <li>What Is DevOps?" - NetApp
        Enlace: <a href="https://www.netapp.com/es/devops-solutions/what-is-devops/">https://www.netapp.com/es/devops-solutions/what-is-devops/</a></li>
      <li>"DevOps" - Atlassian
        Enlace: <a href="https://www.atlassian.com/es/devops">https://www.atlassian.com/es/devops</a></li>
  </ul>
</div>
<hr>
<div class="team-members">
  <h3 class="display-4">Créditos</h3>
  <ul>
      <li>Juan David Gonzalez Espinosa, cód. 2220211012</li>
      <li>Juan Sebastian Murillo Méndez, cód. 2220211005</li>
  </ul>
</div>