

  <div class="container">
   
    <h1 class="display-3">¿Qué herramientas usamos?</h1>
    <br>
    <h2 class="display-4">Plan</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">En esta parte se hizo uso de la herramienta Trello la cual nos permiten generar un ambiente de desarrollo colaborativo para asignar tareas y revisar pendientes. Esta herramienta es vital para que cualquier tipo de proyecto tenga una organización coherente y más aún cuando se trabaja con un gran volumen de personal que se puede dispersar en sus labores.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/img/plan1.jpg" alt="" class="imagenweb">
        </div>
    </div>
    <br>
    <h2 class="display-4">Code</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Para el apartado de codificación se hizo uso del IDE Microsoft Visual Studio Code para crear la página mediante el framework para aplicaciones web Angular, durante el desarrollo se hace uso del controlador de versiones Git; esto, con el objetivo de llevar un orden en las modificaciones y actualizaciones hechas durante la codificación del proyecto.
            </p>
        </div>
        <div class="col-md-6">
            <img src="./assets/img/code1.png" alt="" class="imagenweb">
        </div>
    </div>
    <br>
    <h2 class="display-4">Build</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Debido a que este proyecto de Angular se trabaja de manera local se debe publicar en un repositorio para que cualquier usuario en la web pueda acceder a este, en nuestro caso se hizo uso de GitHub para postear toda la parte de codificación a esto, posterior en el servicio denominado Github Pages para que esto se pueda visualizar facilmente.
            </p>
    
        </div>
        <div class="col-md-6">
            <img src="./assets/img/build1.png" alt="" class="imagenweb">
        </div>
        <div class="container" style="margin-top: 2%;">
            <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
          </div>
    </div>
</div>