.img{
   
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.imagen-con-pie {
    text-align: center; 
  }
  
  .imagen-con-pie img {
    max-width: 98%;
  }
  
  .imagen-con-pie figcaption {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }

.imagenweb{
  max-width: 100%;
  font-size: 14px;
  color: #666;
}