

<div class="container">
    <h1 class="display-4 animated fadeIn fast">DevOps</h1>
    <hr>
    <p class="lead animated fadeIn">
        DevOps es una metodología y un conjunto de prácticas que busca integrar 
        de manera colaborativa los equipos de desarrollo de software (Dev) con 
        los equipos de operaciones y sistemas (Ops). El objetivo principal de DevOps 
        es mejorar la eficiencia, la calidad y la velocidad en la entrega de software al 
        mercado, al mismo tiempo que se garantiza la estabilidad y confiabilidad de los sistemas.
    </p>

    <div class="row">
        <div class="col-md-6">
            <p class="lead animated fadeIn">
                DevOps, como filosofía y conjunto de prácticas adaptables a cada organización, 
                ha revolucionado la forma en que las empresas desarrollan, entregan y mantienen 
                aplicaciones y servicios. Promoviendo la colaboración entre equipos de desarrollo 
                y operaciones, DevOps carece de una estructura de pasos fija. Sin embargo, se 
                destacan principios y áreas clave que pueden agruparse en fases. A continuación, 
                exploraremos los elementos esenciales de DevOps y delinearemos los pasos que suelen 
                seguir las organizaciones para implementar con éxito esta metodología en sus procesos.
            </p> 
        </div>
        <div class="col-md-6">
            <figure class="imagen-con-pie">
                <img src="../assets/img/process.png" alt="Descripción de la imagen img-fluid img">
                <figcaption>Diagrama de la metodología DevOps</figcaption>
              </figure>
        </div>
        <hr>
    </div>
    <hr>
    <h2 class="display-4 animated fadeIn fast">Pasos para el desarrollo DevOps</h2>
    <hr>
    <div class="card-columns" >
        <div class="card" style="width: 18rem;" *ngFor="let devops of devops">
            <img [src]="devops.img" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
            </div>
        </div>
    </div>
</div>