

<div class="container">
    
    <h1 class="display-4 animated fadeIn fast">DevOps</h1>
    <hr>
    <p class="lead animated fadeIn">
        DevOps es una metodología y un conjunto de prácticas que busca integrar 
        de manera colaborativa los equipos de desarrollo de software (Dev) con 
        los equipos de operaciones y sistemas (Ops). El objetivo principal de DevOps 
        es mejorar la eficiencia, la calidad y la velocidad en la entrega de software al 
        mercado, al mismo tiempo que se garantiza la estabilidad y confiabilidad de los sistemas.
    </p>
    
    <img src="../assets/img/process.png" class="img-fluid img">
    <hr>
    <p class="lead animated fadeIn">
        DevOps no tiene una división estricta en un número fijo de pasos, ya que es más una 
        filosofía y un conjunto de prácticas que se adaptan a las necesidades y contextos 
        específicos de cada organización. Sin embargo, es común hablar de ciertos principios 
        y áreas clave en DevOps que pueden agruparse en varios pasos o fases. 
    </p>
    <hr>
    <p>

    </p>
<div class="card-columns">
    <div class="card" style="width: 18rem;">
        <img src="../assets/img/step1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
         </div>
    </div>
</div>

</div>